*.aux
*.bbl
*.bcf
*.blg
*.doc
*.docx
*.fdb_latexmk
*.fls
*.jpg
*.log
*.nav
*.out
*.png
*.rar
*.Rproj.user
*.run.xml
*.snm
*.spl
*.synctex.gz
*.toc
*.txt
*.vrb
*.xlsx
*.zip
seminars/MarcusSantAnna2021/compliancedata/
seminars/MarcusSantAnna2021/otherdata/ 

 
.Rproj.user
