*.aux
*.bbl
*.bcf
*.blg
*.doc
*.docx
*.fdb_latexmk
*.fls
*.gif
*.jpg
*.jpeg
*.log
*.nav
*.out
*.png
*.rar
*.Rproj.user
*.Rhistory
*.run.xml
*.snm
*.spl
*.synctex.gz
*.sty
*.toc
*.txt
*.vrb
*.xlsx
*.zip
seminars/02 - did/MarcusSantAnna2021/compliancedata/npdes_downloads/*
seminars/02 - did/MarcusSantAnna2021/otherdata/* 
seminars/04 - iv-n-rdd/Kim2017/dataverse_files/Roll Call Votes on Environmental Issues.dta
seminars/04 - iv-n-rdd/WuepperEtAl2020/Main.dta

AngristImbens_1997_Comment on Heckmans Instrumental Variables.pdf
Heckman_1997_Instrumental Variables - A Study of Implicit Behavioral Assumptions Used in Making Program Evaluations.pdf
Heckmann_1996_Identification of Causal Effects Using Instrumental Variables - Comment.pdf
Heckmann_1998_Instrumental Variables - Response to Angrist and Imbens.pdf
HeckmanVytlacil_1999__Local instrumental variables and latent variable models foridentifying and bounding treatment effects.pdf
Nakov_2010_Jackknife Instrumental Variables Estimation - Replication and extension of Angrist, Imbens, and Krueger.pdf
AngristImbens_1991_Sources of Identifying Information in Evaluation Models.pdf
DAgostinoRubin_2000_ Estimating and Using Propensity Scores With Partially Missing Data.pdf

grayscale_lulogo-en.pdf 
lulogo-en.pdf
lulogo-sv.pdf
small-lu-logo.pdf 

.Rproj.user

